body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}
body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black; 
    padding: 10px; 
    border: 1px solid black;
    border-top-left-radius: 10px; 
}

.navbar a {
    color: white; 
    text-decoration: none; 
    font-size: 25px; 
    margin: 10px;
}
.qr-c{width: 300px;}
.links {
    display: block;
    font-size: 30px;
    text-decoration: none;
    margin-top: 10px;
}
.moving-background {
    font-size: 36px;
    color: white;
    border: black 2px solid;
    border-radius: 10px;
    background: linear-gradient(270deg, #ff7f50, #1e90ff, #ff6347, #32cd32);
    background-size: 800% 800%;
    animation: moveBackground 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes moveBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}