body {
    background-color: rgb(201, 221, 196);
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black; 
    padding: 10px; 
    border: 1px solid black;
    border-top-left-radius: 10px; 
}

.navbar a {
    color: white; 
    text-decoration: none; 
    font-size: 25px; 
    margin: 10px 10px;
}
.container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.avatar-section {
    margin-right: 20px; 
}

.avatar {
    width: 190px;height: 190px;
    border-radius: 50%;
    border: 2px solid #ccc; 
}

.info-section h1 {
    margin: 0; 
    font-size: 44px;
}

.info-section h2 {
    margin: 5px 0; 
    font-size: 36px;
}

.info-section p {
    margin: 5px 0; 
        font-size: 26px;
}
#myac {
    margin: 20px; 
}

#sp {
    background-color: aliceblue;
    padding: 10px; 
    border: 2px solid black;
    border-radius: 10px;
}

.skill {
    font-size: 24px; 
    margin-top: 10px;
}

.progress-container {
    background-color: #e0e0e0; 
    border-radius: 5px; 
    width: 75%; 
    height: 20px; 
    position: relative; 
    overflow: visible; /* Allow overflow for negative bar */
}

.pr {
    background-color: rgb(18, 220, 15); 
    height: 100%; 
    border-radius: 5px; 
}

#neg {
    background-color: red; 
    width: 50px; 
    height: 100%; 
    border-radius: 5px; 
    position: absolute; 
    left: -50px; 
    top: 0; 
}
#int {
    background-color: aliceblue;
    padding: 10px; 
    border: 2px solid black;
    border-radius: 10px;
}
#int1{
    margin: 20px; 
}
.moreinfo{margin-top: 50px;margin-left: -700px;}